/*Reset style sheet*/
* {
    margin: 0;  
    padding: 0;
    box-sizing: 0;
    
}

/*Initial body */

body {
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    background-color: rgb(205, 205, 205);
}
main {
    width: calc(100% - 120px);
    margin: 40px;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 20px;
}

/*Initial A title*/

h2 {
    font-size: 24px;  
}
.line-cont {
    border-bottom: 1px solid;
    color: rgb(77, 77, 77);

}

/*Initial Actions*/

.arrow {
 font-size: 10px;
  }

.accordion-title-top {
display: inline-block;
line-height: 40px;
}

/*Initial Actions*/

button{
    cursor: pointer;
    margin: 0 8px 0px 0px;
    height: 40px;
    padding: 10px;
    border-radius: 10px; 
    color: aliceblue;
}

.primary-button-action{
    background-color: rgb(44, 117, 227);
    text-align: center;
    border: none;
}

.secondary-button-action{
    background-color: rgb(255, 255, 255);
    border: 2px solid;
    color: rgb(97, 97, 97);
}

main div button {
    margin-bottom: 20px;
}

/*Initial heading*/

#header-style-top {
   padding: 24px;
}

#logo-style-brand {
    width: 150px;
}
header{
    background-color: aliceblue ;
   
}
/*Initial task style list section*/
.todo-section{
    padding: 20px 0px 20px 0px;
    
}

ul {
    list-style: none;

}
ul li {
    padding: 10px 10px 10px 20px;
}

.todo-line-style-task {
 width: 100%;

}

.todo-checkmark-style {
    border-radius: 100%;
    border: 2px solid;
    padding: 4px;
    display: inline-block;
    height: 16px;
    width: 16px;
    text-align: center;
    line-height: 16px;
}

.todo-success-style {
    color: rgb(16, 184, 81);
}
.todo-cross-style {
    line-height: 16px;
    color: rgb(154, 81, 81);
}

.todo-item-style{
    display: inline-block;
    padding: 0px 10px 0px 10px;
}

.todo-tag-style {
    padding: 2px 8px 8px 8px;
    color: aliceblue;
    border-radius: 50px;
    line-height: 0px;
}
#goals {
    background-color: blueviolet;
}
#editorial {
    background-color: rgb(52, 89, 238);
}
#mobile {
    background-color: rgb(216, 143, 16);
}
#recurring {
    background-color: rgb(43, 226, 159);
}
#website {
    background-color: rgb(226, 43, 186);
}
#sales {
    background-color: rgb(103, 183, 28);
}
span strong {
    font-size: 10px;
    line-height: 0px;
}